{{#each this}}
<div class ="country_name">
    <h1>{{name}}</h1>
</div>
<div class="country_info">
    <div class="country_desc">
        <p class="country_item"><span class="item-title">Capital:</span> {{capital}}</p>
        <p><span class="item-title">Population:</span> {{population}}</p>
        <p><span class="item-title">Languages:</span>
            <ul class="country_lang">
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </p>
    </div>
    <aside><img src="{{flag}}" alt='photo {{name}}' width="300"></aside>
</div>
{{/each}}