<div class="country_name">
    <h1 class="caption">{{name}}</h1>
</div>
<div class="sub">
    <div>
        <h2 class="country_capital">Capital: {{capital}}</h2>
        <p>Population: {{population}}</p>
        <p>Languages:</p>
        <ul>
            {{#each languages}}
            <li>{{this.name}}</li>
            <br>
            {{/each}}
        </ul>
    </div>
    <img src="{{flag}}" alt='photo {{name}}' width="300">
</div>